<!--
<% if (theme.valine && post.comments) { %>
<div id="vcomments"></div>
<script>
  window.onload = function(){
      var valine = new Valine();
      valine.init({
        el: '#vcomments',
        appId: "<%= theme.v_appId %>",
        appKey: "<%= theme.v_appKey %>",
        path: window.location.pathname,
        placeholder: "你是我一生只会遇见一次的惊喜 ..."
      })
  }
</script>
<% } %>
-->
<% if (theme.valine && post.comments) { %>
<link rel="stylesheet" href="<%- theme.cdn.gitalk.css %>">
<div id="gitalk"></div>
<script src="<%- theme.cdn.gitalk.js %>"></script>
<script src="https://cdn.jsdelivr.net/npm/blueimp-md5@2.12.0/js/md5.min.js"></script>
<script type="text/javascript">
    var gitalk = new Gitalk({
        clientID: '<%= theme.gitalk.clientID %>',
        clientSecret: '<%= theme.gitalk.clientSecret %>',
        id: md5(location.pathname),
        repo: '<%= theme.gitalk.repo %>',
        owner: '<%= theme.gitalk.owner %>',
        admin: '<%= theme.gitalk.admin %>'
    })
    gitalk.render('gitalk')
</script>
<% } %>
