---
import Pagination from '@components/Pagination.astro';
import PostList from '@components/PostList.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }: { paginate: any }) {
  const allPosts = await getCollection('posts');
  const sortedPosts = allPosts.sort((a, b) => Number(b.data.date) - Number(a.data.date));
  return paginate(sortedPosts, {
    pageSize: 10,
  });
}

export interface Props {
  page: {
    data: CollectionEntry<'posts'>[];
    start: number;
    end: number;
    size: number;
    total: number;
    currentPage: number;
    lastPage: number;
    url: { current: string; next?: string; prev?: string };
  };
}
const { page } = Astro.props;
---

<BaseLayout>
  <div class="flex-grow">
    <PostList posts={page.data} />
    <Pagination
      totalCount={page.lastPage}
      currentPage={page.currentPage}
      currentUrl={page.url.current}
      previousUrl={page.url.prev}
      nextUrl={page.url.next}
      class="mt-4 justify-center items-center"
    />
  </div>
</BaseLayout>
