---
import ArticleTags from '@components/ArticleTags.astro';
import ArticleTime from '@components/ArticleTime.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';

export type Props = {
  remarkPluginFrontmatter: any;
  title: string;
  slug: string;
  description: string;
  tag: string[] | undefined;
  image: CollectionEntry<'posts'>['data']['image'];
  date: Date;
};

const { title, slug, remarkPluginFrontmatter, description, tag, date, image } = Astro.props;
---

<BaseLayout title={title} description={description} image={image?.src}>
  <div class="flex">
    <div class="flex-grow min-w-0">
      <article class="prose prose-neutral dark:prose-invert max-w-full card overflow-clip">
        <header>
          <slot name="before-article" />
          {image && <Image class="w-full object-contain" src={image} alt="Article cover" />}
          <div class="p-6 pb-0">
            <ArticleTime slug={slug} date={date} class="mb-2" />
            <h1 class="mb-6">{title}</h1>
            <ArticleTags tag={tag} />
          </div>
        </header>
        <div class="p-6">
          <slot />
          <ArticleTags tag={tag} />
        </div>
      </article>
      <div class="prose prose-neutral min-w-0 dark:prose-invert max-w-none">
        <details class="rounded-md card">
          <summary>分享</summary>
          <p>
            复制此页面地址到邦联宇宙搜索框以在邦联宇宙分享本文：<code
              id="page_address"
              class="break-all select-all"
              >https://blog.yunyi.beiyan.us/posts/{slug.replaceAll('/', '_')}
              <!-- https://blog.yunyi.beiyan.us/api/activitypub/note/{slug.replaceAll('/', '_')} -->
            </code>
          </p>
        </details>
      </div>
    </div>
    {
      'toc' in remarkPluginFrontmatter && (
        <aside class="hidden lg:block mt-4 lg:(mt-0 ml-4) flex-shrink-0" id="toc">
          <nav
            class="prose prose-neutral dark:prose-invert sticky top-20 text-sm card px-4 w-[15vw] max-h-[calc(100vh-6rem)] overflow-y-auto"
            set:html={remarkPluginFrontmatter.toc}
          />
        </aside>
      )
    }
  </div>
  <script>
    import getWordCount from '@utils/getWordCount';
    const content = document.querySelector('article.prose')?.textContent || '';
    const wordCount = getWordCount(content);
    document.getElementById('wordCount')!.innerHTML = `${wordCount.words} 字`;
    document.getElementById('approxTime')!.innerHTML = wordCount.time;
    document.querySelectorAll('span.wordcount').forEach((e) => {
      e.classList.remove('hidden');
    });
    const pageAddress = document.getElementById('page_address');
    if (pageAddress) pageAddress.innerHTML = location.href;
  </script>
  <script>
    if (document.querySelector('aside#toc')) import('@utils/tocHighlight');
  </script>
</BaseLayout>
